<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.koura_koura">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RapportDanger"></activity>
        <activity android:name=".RapportOk" />
        <activity android:name=".Coquille" />
        <activity android:name=".CreationMalaxage" />
        <activity android:name=".CreationTriage" />
        <activity android:name=".CreationVapeur" />
        <activity android:name=".OverviewCreation" />
        <activity android:name=".Maladie" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>